.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $white;

  p:first-of-type {
    padding-top: $space;
  }
}

.aboutMenu {
  @include mq($from: desktop) {
    display: flex;
  }
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: math.div($space, 4);
  margin-top: math.div($space, 4);
  @include mq($from: desktop) {
    display: flex;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;

    a {
      display: flex;
      justify-content: center;
      margin-right: 10px;
      max-width: 180px;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;

      &:last-child {
        margin-right: 0px;
      }
      li {
        @include roundedElement();
        position: relative;
        cursor: pointer;
        min-width: 180px;
        text-transform: uppercase;
        user-select: none;
        background-color: transparent;
        pointer-events: all;
        color: $white;
        border-color: $white;
        -webkit-font-smoothing: antialiased;

        &:hover {
          background-color: $white;
          color: $black;
          font-variation-settings: "wght" 800;
        }

        &.selected {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}

.aboutMobileDropDown {
  margin-top: $small-space / 2;
  max-width: 220px;
  @include mq($from: desktop) {
    display: none;
  }
}
