.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $mono-font;
    padding-bottom: $small-space/3;

    @include mq($from: tablet) {
      padding-top: $space;
      padding-bottom: $space;
    }
  }

  .community {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $space;

    .participant {
      @include roundedBox();
      color: $black;
      background: transparent;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      margin: $small-space;
      transition: background-color 0.3s;
      padding: $small-space;

      @include mq($from: tablet) {
        flex: 0 0 45%;
        padding: $small-space * 2;
      }

      &:hover {
        background-color: $white;
      }

      .participantInfo {
        flex: 1 1 auto;
        box-sizing: border-box;
        padding-top: $small-space;

        h2 {
          text-align: center;
          &:last-of-type {
            padding-bottom: 0.5em;
          }
        }
      }
      .symbols {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        img {
          width: 100px;
          height: 100px;

          @include mq($from: tablet) {
            width: 125px;
            height: 125px;
          }
        }
      }
    }
  }
}
