.event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;

  .by {
    margin-bottom: -60px;
    z-index: 10;

    @include mq($until: tablet) {
      max-width: 280px;
    }

    span {
      overflow: hidden;
      height: 1em;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }

    &:hover {
      background: $black;
      color: $white;
      a {
        color: $white;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  .calendar {
    @include mq($until: tablet) {
      display: none;
    }
    @include roundedElement();
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: $small-space;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &[hidden="true"] {
    visibility: hidden;
  }

  .register {
    @include roundedElement();
    height: $small-space * 3;
    border-radius: $small-space * 2;
    flex-direction: row;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2 * $small-space;

    &:hover {
      background-color: $black;
      color: $white;
    }

    span {
      padding-left: 0.24em;
      padding-bottom: 3px;
    }
  }

  .related {
    display: none;
    margin-top: 2rem;
    .relatedEvent {
      margin-bottom: 2rem;
    }
  }
}
