.event {
  display: flex;
  flex-direction: row;
  width: 100%; 
  flex:  1 1 auto;
  .info{
    flex: 0 1 80%;
  }
  .symbol{
    width:300px;
    height:300px;
  }
  
  &[hidden=true]{
    visibility: hidden;
  }
  .related{
    .relatedEvent{
      margin-bottom:2rem;
    }
  }
}
