.festival {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: $space;
  margin-bottom: $space;

  .weekday {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.3rem;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .event {
    @include roundedBox();
    color: $black;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    margin-bottom: $small-space;
    padding: $small-space;
    padding-right: $space;
    background-color: transparent;
    transition: background-color 0.5s;

    &:hover {
      background-color: $white;
    }

    .symbol {
      display: flex;
      align-items: flex-start;
      img {
        width: 250px;
        height: 250px;
      }
    }

    .info {
      span {
        padding-bottom: 1em;
        display: block;
      }

      .goto {
        padding: 5px 10px 5px 10px;

        border: 3px solid #000;
        border-radius: 30px;
      }
    }
  }
}
