.festival {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: $space;
  padding-left: $small-space;
  padding-right: $small-space;

  @include mq($from: tablet) {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: $space;
  }

  .weekday {
    text-transform: uppercase;
    margin-bottom: $small-space;

    @include mq($from: tablet) {
      margin-bottom: $small-space * 2;
      margin-top: $small-space * 2;
    }
  }

  .event {
    @include roundedBox();
    color: $black;
    display: flex;
    margin-bottom: $small-space * 2;
    padding-top: $small-space * 2;
    padding-left: $small-space;
    padding-right: $small-space;
    background-color: transparent;
    transition: background-color 0.5s;
    flex-direction: column;
    width: 100%;

    @include mq($until: tablet) {
      align-items: center;
    }

    @include mq($from: tablet) {
      flex-direction: row;
      padding-right: $space;
    }

    &:hover {
      background-color: $white;
    }

    .symbol {
      display: flex;
      align-items: flex-start;
      padding-right: $small-space;

      img {
        width: 150px;
        height: 150px;

        @include mq($from: tablet) {
          width: $symbol-big;
          height: $symbol-big;
        }
      }
    }

    .info {
      width: 100%;
      span {
        display: block;
      }

      h2:first-of-type {
        padding-top: 0.5em;
      }

      h2:last-of-type {
        padding-bottom: 0.3 * em;
      }

      p {
        margin: 0;
      }

      .goto {
        padding: 5px 10px 5px 10px;

        border: 3px solid #000;
        border-radius: 30px;
      }
    }
  }
}
