.container {
  display: flex;
  flex-direction: column;

  .events {
    @include roundedBox();
    @include textWidth();
    display: block;

    .event {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
    }
  }
}
