.container {
  display: flex;
  flex-direction: column;

  .events {
    margin-top: $space / 2;
    padding-left: $small-space;
    padding-right: $small-space;

    @include mq($from: desktop) {
      margin-top: $space;
      padding-left: $outer-margin / 2;
      padding-right: $outer-margin / 2;
    }

    @include mq($from: wide) {
      padding-left: $outer-margin;
      padding-right: $outer-margin;
    }

    display: block;

    .event {
      @include roundedBox();
      color: $black;
      display: flex;
      margin-bottom: $small-space * 2;
      padding-top: $small-space * 2;
      background-color: transparent;
      transition: background-color 0.3s;
      flex-direction: column;
      padding-left: $small-space;
      padding-right: $small-space;
      width: 100%;

      @include mq($until: tablet) {
        padding-top: $small-space;
        padding-left: $small-space;
        padding-right: $small-space;
        align-items: center;
      }

      @include mq($from: tablet) {
        flex-direction: row;
        padding-right: $space;
      }

      &:hover {
        background-color: $white;
      }

      h2:first-of-type {
        padding-top: 0.5em;
      }

      h2:last-of-type {
        padding-bottom: 0.4em;
      }

      h2.sub {
        padding-top: 0;
      }

      .symbol {
        display: flex;
        align-items: flex-start;
        padding-right: $small-space;

        img {
          width: 150px;
          height: 150px;

          @include mq($from: tablet) {
            width: 200px;
            height: 200px;
          }

          @include mq($from: wide) {
            width: 300px;
            height: 300px;
          }
        }
      }
      &.inactive {
        div {
          img {
            filter: grayscale(1);
          }
        }
      }
    }
  }

  .externalLinks {
    display: table;
    margin-bottom: 0.5em;
    border-bottom: 1px solid;
  }
}
