// FONT EMBEDDING & TYPO VARIABLES
$headline-font: "Maxi";
$mono-font: "Maxi Mono";
$body-font: "Cooper";
$headline-font-regular: "Maxi-Regular";

@font-face {
    font-family: "Maxi";
    src: url("../../public/fonts/ABCMaxiSharpVariable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Maxi-Regular";
    src: url("../../public/fonts/ABCMaxiSharp-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Maxi Mono";
    src: url("../../public/fonts/ABCMaxiSharpMonoVariable.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cooper";
    src: url("../../public/fonts/d02e214c-1036-412c-a19c-71c32739a0da.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
