@mixin nav() {
  font-family: $mono-font;
  font-variation-settings: "wght" 600;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.01em;
}

@mixin roundedElement() {
  border: $line;
  border-radius: 20px;
  height: 34px;
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1px;
  background-color: white;

  @include nav();
}

@mixin roundedBox() {
  border: $line;
  border-radius: $radius;
  background: white;
  padding-bottom: $small-space * 2;
}

@mixin textWidth() {
  padding-left: $outer-margin / 3;
  padding-right: $outer-margin / 3;

  @include mq($from: tablet) {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }
}

@mixin fullWidth() {
  margin: $space;
}
