$body-line-height: 1.3em;

h1 {
  font-size: 4.5vw;
  line-height: 1;
  font-family: $headline-font;
  text-transform: uppercase;
  font-variation-settings: "wght" 1000;
  text-align: center;
}

p {
  font-family: $body-font;
  font-size: 20px;
  line-height: $body-line-height;

  &.summary {
    font-variation-settings: "wght" 300;
    font-size: 23px;
  }
}

nav {
  font-family: $mono-font;
}

.meta {
  font-family: $headline-font-regular;
  font-variation-settings: "wght" 500;
}

caption {
  line-height: $body-line-height;
}
