$size: 90px;

.container{
  position: fixed;
  display: flex;
  flex-direction: row;
  top:0;
  left:0;
  margin:20px;
  z-index: 10;
  align-items: center;
  .clock{
    flex: 0 0 $size;
    width: $size;
    height: $size;
    transform: rotate(-90deg);
    
    .circle{
      //background-color: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 4px solid rgb(0, 0, 0);
      
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .center {
        width: 8px;
        height: 8px;
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
      }
      .marks{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top:0;
        left:0;
        transform: rotate(90deg);
        width: 100%;
        height: 100%;
        .ticks{
          //display: none;
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          z-index: 99;
        } 
      }
    }
    .hour, .minute, .second{
      position: absolute;
      top:0;
      left:0;
      width: 50%;
      height: 1px;
    }
    .hour{
      background-color: #000;
      width: 25%;
      border-radius: 3px;
      transform-origin: math.div($size, 2) math.div($size, 2);
      transform: rotate(0deg) translateY(math.div($size, 2)) translateX(math.div($size, 2)) ;
      background-color: rgb(0, 255, 149);
      z-index: 10;
    }
    .minute{
      background-color: #000;
      width: 36%;
      border-radius: 2px;
      transform-origin:  math.div($size, 2) math.div($size, 2);
      transform: rotate(0deg) translateY(math.div($size, 2)) translateX(math.div($size, 2)) ;
      background-color: rgb(255, 174, 0);
      z-index: 11;
    }
    .second{
      background-color: #000;
      top:0px;
      width: 42%;
      border-radius: 1px;
      transform-origin:  math.div($size, 2) math.div($size, 2);
      transform: rotate(95deg) translateY(math.div($size, 2)) translateX(math.div($size, 2)) ;
      background-color: rgb(203, 113, 255);
      z-index: 12;
    }
    
  }
  .countdown{ 
    z-index: 11;
    
    text-align: center;
    padding: 15px;
    padding-left:20px;
    border-radius: 30px;
    white-space: pre;
    margin-left: -13px;
    max-width: 0px;
    overflow: hidden;
    border: 5px solid #000;
    border-left: 0px solid #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    &.show{
      animation: slideOut 0.3s ease-out 0.0s forwards;
    }

    &.hide{
      animation: slideIn 0.3s ease-in 0.0s forwards;
    }
    
    @keyframes slideOut {
      0%{
        border: 5px solid #000;
        border-left: 0px solid #fff;
        margin-left: -13px;
      }
      100%{
        color:#000;
        max-width: 260px;
      }  
    }
    @keyframes slideIn {
      0%{
        opacity: 1;
        max-width: 250px;
      }  
      90%{
        opacity: 1;
        margin-left: -13px;
        border: 5px solid #000;
        border-left: 0px;
      }
      100%{
        border: 1px solid #000;
        opacity: 0;
        margin-left: -35px;
        max-width: 0px;
      }  
    }
  }
}

