$top-margin: 90px;

.contentWrap {
	position: absolute;
	left: 0;
	top: $top-margin;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	transition: opacity 0.5s cubic-bezier(0.19, 0.92, 0, 1);
	transition-delay: 0.3;
	opacity: 0;
	z-index: 0;

	&.show {
		opacity: 1;
		z-index: 2;
	}

	a {
		color: red;
	}

	.content,
	.contentPopup {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 80vw;
		min-height: calc(100vh - $top-margin);
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}

	.contentPopup {
		margin-bottom: $space;
		transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0s;
		transform: translateY(100%);
		&.show {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	.close {
		@include roundedElement();
		width: 40px;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		padding-top: 0.1em;
		margin: $small-space;
		cursor: pointer;
		font-variation-settings: "wght" 800;
		font-family: $mono-font;
	}

	article {
		p {
			padding-left: $outer-margin;
			padding-right: $outer-margin;
		}
	}

	.textWidth {
		padding-left: $outer-margin;
		padding-right: $outer-margin;
	}

	.fullWidth {
		margin: $space;
	}

	p.summary {
		padding-left: $outer-margin;
		padding-right: $outer-margin;

		&:first-of-type {
			padding-top: 2em;
		}
	}

	header.contentHeader {
		min-height: 70vh;
		padding-left: $outer-margin;
		padding-right: $outer-margin;
		display: flex;
		align-items: center;
		flex-direction: column;
		background: red;

		section.meta {
			margin-top: $small-space;
		}

		h1 {
			padding-top: 1em;
		}
	}
}
