$top-margin: 90px;

.contentWrap {
	position: absolute;
	left: 0;
	top: $top-margin;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	transition: opacity 0.5s cubic-bezier(0.19, 0.92, 0, 1);
	transition-delay: 0.3;
	opacity: 0;
	z-index: 0;

	&.show {
		opacity: 1;
		z-index: 2;
	}

	a {
		color: red;
	}

	.content,
	.contentPopup {
		display: flex;
		flex-direction: column;
		position: relative;
		padding-left: 20vw;
		padding-right: 20vw;
		flex: 1 1 100%;
		min-height: calc(100vh - $top-margin);
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}
	.content {
		//transform: translateY(0%);
	}
	.contentPopup {
		transition: transform 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition-delay: 0s;
		transform: translateY(100%);
		&.show {
			opacity: 1;
			transform: translateY(0%);
		}
	}
	.close {
		position: absolute;
		top: 0;
		right: 0;
		margin: 20px;
		cursor: pointer;
		font-size: 50px;
		line-height: 0.5;
	}
}
.placeholderSymbol {
}
