$top-margin: 80px;

.contentWrap {
	position: absolute;
	left: 0;
	top: $top-margin;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	transition: opacity 0.5s cubic-bezier(0.19, 0.92, 0, 1);
	transition-delay: 0.3;
	opacity: 0;
	z-index: 0;

	&.show {
		opacity: 1;
		z-index: 2;
	}

	a {
		color: red;
	}

	.content,
	.contentPopup,
	.contentPopupShadow {
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: calc(100vh - $top-margin);
		opacity: 0;
		width: 95vw;

		@include mq($from: tablet) {
			width: calc(100% - 40px);
		}

		&.show {
			opacity: 1;
		}
	}
	.contentPopup {
		opacity: 0;
		margin-bottom: $space;
		transition: transform 0.7s ease;
		transform: translateY(100%);

		&.slideUp {
			opacity: 1;
			transition-duration: 0.7s;
			transform: translateY(0%);
		}
		&.direct {
			opacity: 1;
			transition-duration: 0s;
			transform: translateY(0%);
		}
	}

	.contentPopupShadow {
		position: fixed;
		visibility: visible;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.1);
		* {
			//visibility: hidden
		}
	}
	.close {
		@include roundedElement();
		width: 40px;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		padding-top: 0.1em;
		z-index: 10000;
		margin: $small-space;
		margin-top: 23px;
		cursor: pointer;
		font-variation-settings: "wght" 800;
		font-family: $mono-font;

		&:hover {
			background-color: $black;
			color: white;
		}
	}

	article {
		p,
		h1,
		h2,
		ul {
			@include textWidth();
		}

		ul {
			margin-left: 1em;
		}

		li p {
			padding: 0;
		}

		h2 {
			padding-bottom: 0.5em;
			padding-top: 1em;
			text-align: center;
		}
	}
}

.placeholderSymbol {
	opacity: 0;
}
