.event {
  display: flex;
  flex-direction: row;
  width: 100%; 
  flex:  1 1 auto;
  .info{
    flex: 1 1 80%;
  }
  .symbol{
    img{
      width:300px;
      //visibility: hidden;
    }
  }
  &[hidden=true]{
    visibility: hidden;
  }
}
