.footer {
  flex-direction: column;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: $small-space;

  @include mq($from: tablet) {
    padding: $small-space * 2;
  }

  a {
    @include roundedElement();

    &:hover {
      background-color: $black;
      color: white;
    }
  }
}
