.footer {
  display: flex;
  flex-direction: row-reverse;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: $small-space / 2;
  transition: padding-right 0.5s;

  @include mq($from: tablet) {
    padding-left: calc(2.5vw - 4px);
    padding-right: calc(2.5vw - 4px);
    padding-bottom: calc(#{$small-space} + 1px);
  }

  &.margin {
    @include mq($from: tablet) {
      padding-right: calc(2.5vw - 4px + #{$small-space});
    }
  }

  &.festival {
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
  }

  &.invert {
    a {
      border-color: white;
      color: white;
    }
  }

  a {
    @include roundedElement();
    background-color: transparent;
    &:hover {
      background-color: $black;
      color: white;
    }
  }
}
