.button{
  cursor: pointer;
  appearance: none;
  background-color:#9B31FF;
  padding:5px 10px 5px 10px;
  border: 3px solid #000;
  border-radius: 30px;
  font-size: 1rem; 
  &.monday{
    background-color:#9B31FF;
  }
  &.tuesday{
    background-color:#9B31FF;
  }
  &.wednesday{
    background-color:#9B31FF;
  }
  &.thursday{
    background-color:#9B31FF;
  }
  &.friday{
    background-color:#9B31FF;
  }
}