.button {
  cursor: pointer;
  appearance: none;
  @include roundedElement();
  color: $black !important;
  background-color: transparent;

  &.monday {
    background-color: #9b31ff;
  }
  &.tuesday {
    background-color: #9b31ff;
  }
  &.wednesday {
    background-color: #9b31ff;
  }
  &.thursday {
    background-color: #9b31ff;
  }
  &.friday {
    background-color: #9b31ff;
  }
}
