.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  margin-top: math.div($space, 4);

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: $small-space;
    padding-right: $small-space;
  }

  .menu,
  .festivalMenu,
  .mobileMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: math.div($space, 4);

    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      
      a {
        display: flex;
        justify-content: center;
        margin-right: 10px;
        max-width: 180px;
        &:last-child {
          margin-right: 0px;
        }
        li {
          @include roundedElement();
          position: relative;
          cursor: pointer;
          min-width: 180px;
          text-transform: uppercase;
          user-select: none;
          background-color: transparent;
          pointer-events: all;
          
          &:hover {
            background-color: $white;
            font-feature-settings: "ss01" 1;
            font-variation-settings: "wght" 800;
          }

          &.selected {
            background-color: $black;
            color: $white;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
  .festivalMenu {
    ul {
      li {
        text-transform: uppercase;
        background-color: white;
      }
    }
  }

  .menu, 
  .festivalMenu {
    @include mq($until: desktop) {
      display: none;  
    }
  }
  
  .mobileMenu {
    position: relative;
    flex-direction: column;
    width: 100%;
    @include mq($from: desktop) {
      display: none;  
    }
    ul{
      padding-left: 0%;
      padding-right: 0%;
      li{
        width: 100% !important;
      }
    }
    &.open {
      max-height: 1000px;
      padding: 0px !important;
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
    .items {
      @include roundedElement();
      display: none;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      top:46px;
      width: 100%;
      background-color: $white;
      padding-bottom: 5px;
      margin-top: math.div($small-space, 2);
      &.open {
        display: flex;
        height: unset;
        overflow: unset;
      }
      a {
        width: 100%;
        margin:0px;
        line-height: 1.3em;
        li{
          border: 0px;
          width: 100%;
          width: 100% !important;
          background-color: transparent;
          &.selected {
            //color:pink;
          }
        }
        &:hover {
          color: #000;
        }
        
      }
    }
    .arrow{
      position: absolute;
      top:6px;
      right:10px;
      transition: transform .3s ease;
      &.open{
        transform: rotate(180deg);
      }
    }
    &:hover {
      font-feature-settings: unset !important;
      font-variation-settings: unset !important;
    }
  }
}

.invert {
  ul{
    
    border-color: $white !important;
    li {
      border-color: white !important;
      color: white;
      -webkit-font-smoothing: antialiased;
      &.selected{
        color: black !important;
        background-color: white !important;
      }
      &:hover {
        color: $black;
        background: $white;
      }
    }
  }
  .mobileMenu {
    ul{
      background-color: #000 !important;
      border-radius: $radius;
    } 
  }
}
