.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  margin-top: math.div($small-space, 2);
  pointer-events: none;

  @include mq($from: tablet) {
    margin-top: $small-space;
  }

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 95vw;
    //padding-left: $small-space;
    //padding-right: $small-space;
    @include mq($until: desktop) {
      flex-direction: column;
    }
  }

  .menu,
  .festivalMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: math.div($space, 4);
    @include mq($until: desktop) {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;

      a {
        display: flex;
        justify-content: center;
        margin-right: 10px;
        max-width: 180px;
        &:last-child {
          margin-right: 0px;
        }
        li {
          @include roundedElement();
          position: relative;
          cursor: pointer;
          min-width: 180px;
          text-transform: uppercase;
          user-select: none;
          background-color: transparent;
          pointer-events: all;

          &:hover {
            background-color: $white;
          }

          &.selected {
            background-color: $black;
            color: $white;
            -webkit-font-smoothing: antialiased;
          }
        }
      }
    }
  }
  .festivalMenu {
    position: fixed;
    margin-top: ($small-space * 2) + $small-space;

    ul {
      li {
        text-transform: uppercase;
        background-color: $white;
      }
    }
  }
}

.invert {
  nav {
    ul {
      border-color: $white !important;
      a {
        li {
          border-color: white !important;
          color: $white;
          -webkit-font-smoothing: antialiased;
          &.selected {
            color: black !important;
            background-color: white !important;
          }
          &:hover {
            color: $black;
            background-color: $white;
          }
        }
      }
    }
  }
}

.festivalMenu {
  @include mq($until: nav-break) {
    display: none !important;
  }
}

.mobileMenuDropDown {
  width: 100%;
  @include mq($from: desktop) {
    display: none !important;
  }
  ul,
  a,
  li {
    width: 100%;
  }
  .items {
    width: 100%;
  }
}

.timezoneDropDown {
  display: none !important;
  z-index: 100;
  left: 0;
  top: 158px;
  padding: 0px;
  margin-top: $small-space !important;
  &.mobileOpen {
    display: flex !important;
    ul{
      max-height: calc(100vh - 300px);
      overflow-y:auto;
    }
    ul > a > li {
      background-color: $white;
      &:first-child {
        color: $black !important;
      }
    }
  }
  @include mq($from: desktop) {
    display: flex !important;
    position: relative;
    top: 0px;
    margin: 0px !important;
    width: 180px !important;
  }
}
