.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 5;
  margin-top: $space/4;

  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: $small-space;
    padding-right: $small-space;
  }

  .menu,
  .festivalMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    //width: 100%;
    margin-bottom: $space/4;

    ul {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;

      li {
        @include roundedElement();
        margin-right: $space/4;
        cursor: pointer;
        min-width: 180px;
        text-transform: uppercase;
        user-select: none;
        background-color: transparent;

        &:hover {
          background-color: $white;
        }

        &:last-child {
          margin-right: 0px;
        }

        &.selected {
          background-color: $black !important;
          color: $white;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
  .festivalMenu {
    ul {
      li {
        text-transform: uppercase;
      }
    }
  }
  .timezone {
    display: flex;
    justify-content: flex-start !important;
    flex-direction: column;
    transition: max-height 0.2s linear;

    &.open {
      max-height: unset;
    }
    .items {
      display: flex;
      flex-direction: column;
      margin-top: 4px;
      padding-top: 4px;
      width: 100%;
      height: 0px;
      overflow: hidden;

      &.open {
        border-top: 4px solid #000;
        height: unset;
        overflow: unset;
      }
      .item {
        color: gray;
        &.selected {
          color: #000;
        }
        &:hover {
          color: #000;
        }
      }
    }
  }
}
