.container {
  display: flex;
  flex-direction: column;  
  align-items: center; 
  .participants {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    .participant{  
      display: flex;
      flex-direction: row;
      flex: 0 0 50%;
      max-width: 600px;
      box-sizing: border-box;
      padding: 20px;
      border: 2px solid #000;
      border-radius: 10px;
      margin: 10px;
      &:last-child{
        margin-right: 0px;
      }
      .participantInfo{  
        flex: 1 1 auto;
        box-sizing: border-box;
      }
      .symbols {
        flex: 0 0 200px;
        img{        
          width:200px;
          height:200px;
        }
      }
    }
  }
}