.participants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
  .participant{  
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(233, 233, 233);
    padding-bottom: 20px;
    flex: 0 0 50%;
    .participantInfo{  
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
    .symbols {
      flex: 0 0 30%;
      //border: 1px solid #000;
      margin-right: 40px;
      
    }
  }
}
