.popup {
	@include roundedElement();
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0px;
	left: 0px;
	margin-top:-20px;
	max-width: 300px;
	padding: $small-space;
	height: auto;
	z-index: 5;
	transition: opacity 0.2s ease;
	opacity: 0;
	pointer-events: none;
	&.show {
		opacity: 1;
	}
}