.textTraces {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20px);
  bottom: 0;
  left: 10px;
  padding: 0;
  margin-bottom: $small-space;
  color: $black;
  font-family: $headline-font;
  font-size: 26px;
  @include mq($until: desktop) {
    font-size: 16px;
  }
  .line {
    background-color: $c2;
    padding: 10px;
    max-width: 100vw;
  }
}
