.tree{
  position: absolute;
  top:0;
  left:0;
  z-index: 4;
  user-select: none;
  line-height: 0;
  img{
    cursor: pointer;
    width: 100%;
  }
  .label{
    position: relative;
    font-size: 0.8rem;
    height: 100%;
    color:#000;
    visibility: hidden;
    max-width: 400px;
    h1{
      font-size: 1.3rem;
      margin: 0;
      font-weight: bold;
      cursor: pointer;
    }
    
  }
}