@use "sass:math";

article {
  p {
    padding-left: $outer-margin;
    padding-right: $outer-margin;
  }
}

.textWidth {
  padding-left: $outer-margin;
  padding-right: $outer-margin;
}

.fullWidth {
  margin: $space;
}

.rounded {
  border: $line;
  border-radius: 20px;
  height: 40px;
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: white;
}

.roundedContent {
  border: $line;
  border-radius: $radius;
  background: white;
}

p.summary {
  padding-left: $outer-margin;
  padding-right: $outer-margin;

  &:first-of-type {
    padding-top: 2em;
  }
}

header.contentHeader {
  min-height: 70vh;
  padding-left: $outer-margin;
  padding-right: $outer-margin;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: red;

  section.meta {
    margin-top: -21px;
  }

  h1 {
    padding-top: 1em;
  }
}
