.contentMain {
	@include roundedBox();

	header {
		padding-top: $small-space * 3;
		@include textWidth();
	}

	article p {
		@include textWidth();
	}
}

.black {
	color: white;
	background-color: black;
	border-color: white;
}
