.contentHeader {
	@include roundedBox();
	min-height: 80vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: transparent;
	margin-bottom: -3px;
	position: relative;
	justify-content: space-between;
	padding-left: $outer-margin / 2;
	padding-right: $outer-margin / 2;

	@include mq($from: tablet) {
		padding-left: $outer-margin;
		padding-right: $outer-margin;
	}

	header {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	section {
		@include roundedElement();
		margin-top: $small-space;
	}

	h1 {
		font-feature-settings: "ss01" 1;
		color: $black;
		letter-spacing: 0.02em;

		&:first-of-type {
			padding-top: 1em;
		}
	}

	.sub {
		font-family: "Maxi Mono Regular";
	}

	figure {
		padding-top: $small-space;
		@include mq($from: tablet) {
			padding-top: $small-space * 2;
		}
	}

	figure img {
		width: 125px;
		height: 125px;
		@include mq($from: tablet) {
			width: 180px;
			height: 180px;
		}
	}

	.bgImage {
		position: absolute !important;
		z-index: -1;
		border-radius: 15px;
		display: flex;
		height: 100%;
		width: 100%;

		img,
		picture {
			object-fit: cover;
			transition: opacity 0.5s cubic-bezier(0.19, 0.92, 0, 1);
			transition-delay: 0.5s;
		}
	}

	&.Color1 {
		//background: $c1;
	}
	&.Color2 {
		background: $c2;
	}
	&.Color3 {
		background: $c3;
	}
	&.Color4 {
		background: $c4;
	}
	&.Color5 {
		background: $c5;
	}

	&.participant {
		color: red;
		&.Color1 {
			background: $c1o !important;
		}
	}
}

.bgColor {
	background-color: white;
	min-height: 0;

	h1 {
		-webkit-text-stroke: none;
		color: $black;
		font-family: "Maxi Mono";

		&:first-of-type {
			padding-top: 0.2em;
		}

		&:last-of-type {
			padding-bottom: 1em;
		}
	}
}

.black {
	border-color: white;
	background-color: black;
	min-height: auto;
	padding-bottom: $small-space * 2.5;
}
