.contentHeader {
	@include roundedBox();
	min-height: 80vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: transparent;
	margin-bottom: -3px;
	position: relative;
	justify-content: space-between;
	padding-left: $outer-margin / 2;
	padding-right: $outer-margin / 2;

	@include mq($from: tablet) {
		padding-left: $outer-margin;
		padding-right: $outer-margin;
	}

	header {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	section {
		@include roundedElement();
		margin-top: $small-space;
	}

	h1 {
		padding-top: 1em;
		-webkit-text-stroke: 0.17vw black;
		color: white;
		font-family: "Maxi Mono Bold";
		font-variation-settings: "wght" 1000, "MONO" 0;
		font-feature-settings: "ss01" 1;
		font-weight: bold;
	}

	figure {
		position: absolute;
		bottom: 0;
	}

	figure img {
		width: 300px;
		height: 300px;
	}

	.bgImage {
		position: absolute !important;
		z-index: -1;
		border-radius: 15px;
		display: flex;
		height: 100%;

		img,
		picture {
			object-fit: cover;
		}
	}
}

.bgColor {
	background-color: green;
}

.black {
	border-color: white;
	background-color: black;
}
