.contentHeader {
	@include roundedBox();
	display: flex;
	align-items: center;
	flex-direction: column;
	background: transparent;
	margin-bottom: -3px;
	position: relative;
	justify-content: space-between;
	padding-left: $outer-margin / 2;
	padding-right: $outer-margin / 2;

	@include mq($from: desktop) {
		min-height: 70vh;
	}

	@include mq($from: tablet, $until: wide) {
		padding-left: $space;
		padding-right: $space;
	}

	header {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	section {
		@include roundedElement();
		margin-top: $small-space / 2;

		@include mq($from: tablet) {
			margin-top: $small-space;
		}
	}

	h1 {
		font-feature-settings: "ss00" 1;
		color: $black;
		letter-spacing: 0.02em;

		@include mq($until: tablet) {
			font-size: 30px;
		}

		&:first-of-type {
			padding-top: 1em;
		}
	}

	.sub {
		font-variation-settings: "wght" 300;
	}

	figure {
		padding-top: $small-space;
		@include mq($from: tablet) {
			padding-top: $small-space * 2;
		}
	}

	figure img {
		width: 125px;
		height: 125px;
		@include mq($from: tablet) {
			width: 180px;
			height: 180px;
		}
	}

	.bgImage {
		position: absolute !important;
		z-index: -1;
		border-radius: 15px;
		display: flex;
		height: 100%;
		width: 100%;
		max-width: none !important;

		img,
		picture {
			object-fit: cover;
			transition: opacity 0.5s cubic-bezier(0.19, 0.92, 0, 1);
			transition-delay: 0.5s;
		}
	}

	&.Color1 {
		background: $c1;
	}
	&.Color2 {
		background: $c2;
	}
	&.Color3 {
		background: $c3;
	}
	&.Color4 {
		background: $c4;
	}
	&.Color5 {
		background: $c5;
	}

	&.participant {
		&.Color1 {
			background: $c1o !important;
		}
		&.Color2 {
			background: $c2o !important;
		}
		&.Color3 {
			background: $c3o !important;
		}
		&.Color4 {
			background: $c4o !important;
		}
		&.Color5 {
			background: $c5o !important;
		}
	}
}

.bgColor {
	background-color: $white;
	min-height: 0;

	h1 {
		-webkit-text-stroke: none;
		color: $black;

		&:first-of-type {
			padding-top: 0.2em;
		}

		&:last-of-type {
			padding-bottom: 1em;
		}
	}
}

.black {
	border-color: $white;
	background-color: $black;
	min-height: auto;
	padding-bottom: $small-space * 2.5;
	h1 {
		padding-top: 1em !important;
		color: $white;
	}
}
