.contentMain {
	@include roundedBox();

	header {
		padding-top: $small-space * 3;
		@include textWidth();
	}

	article p {
		@include textWidth();
	}
}

.Color1 {
	background: $c1;
}
.Color2 {
	background: $c2;
}
.Color3 {
	background: $c3;
}
.Color4 {
	background: $c4;
}
.Color5 {
	background: $c5;
}

.black {
	color: white;
	background-color: $black;
	border-color: white;
}

.participant {
	header {
		padding-top: $small-space;
	}
}
