.container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  padding: 1rem;
}

.diggi{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  .batik{
    max-height: 100vh; 
  }
  
}
.tree{
  position: absolute;
  top:0;
  left:0;
}
.menu {
  position: absolute;
  top:0;
  right:0;
  margin:2%;
  z-index: 1;
}
.projects{
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2;
  &.hide{
    display: none;
  }
}

.dropdown {
  animation: dropdown 1.2s linear forwards;
  @keyframes dropdown {
    
    70% {
      transform: translateY(10px) scaleY(0.8) ;
    }
    95% {
      transform:translateY(5px) skewX(2deg) scaleY(1);
    }
    95% {
      transform:skewX(-2deg);
    }
    100% {
      transform:translateY(0px) scaleY(1) skewX(0deg) rotate(0deg); 
    }
  }
}
.order {
  animation: order 1s cubic-bezier(.44,.89,.6,1.02) forwards;
  @keyframes order {
    100% {
      left:0,
    }
  }
}

.rotate {
  animation: diggity 3s linear infinite;
  @keyframes diggity {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}