.container{
  display: flex;
  max-width:100%;
  flex-direction: column;
  overflow-x: hidden;
  &.hide{
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translateX(100%);
  }
}