.externalLink {
  //@include textWidth();
  color: $black;
  margin: auto;
  @include roundedElement();
  height: $small-space * 3;
  border-radius: $small-space * 2;
  flex-direction: row;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2 * $small-space;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &:hover {
    background: $black;
    color: $white;
  }

  &:visited {
    color: $black;

    &:hover {
      color: $white;
    }
  }
}
