.imageGallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;

  .captions {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    //transition: all 1s;
    caption {
      
      padding-left: $space;
      padding-right: $space;
      padding-top: 1em;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      overflow: hidden;
      transform: scaleY(0);
      max-height: 0;
      transform-origin: top;
      transition: transform 0s ease;
      &.show {
        transition: transform 0.2s ease;
        max-height: unset;
        transform: scaleY(1);
      }
    }
  }
  .indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 0.5em;
    &.selected {
      background-color: rgb(253, 0, 0);
    }
  }
}
