.imageGallery {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  width: 100%;

  .captions {
    position: relative;
    max-width: 100%;

    caption {
      display: none;
      padding-left: $space;
      padding-right: $space;
      padding-top: 1em;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      &.show {
        display: block;
      }
    }
  }

  .indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
    margin-right: 0.5em;
    &.selected {
      background-color: rgb(253, 0, 0);
    }
  }
}
